<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
    <head>
        <title>Zip codes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:replace="layout :: css"></div>
        <div th:replace="layout :: header"></div>
        <div id="loading" style="display: block" class="text-center">
            <h3>Loading...</h3>
        </div>
        <div id="loaded" style="display: none" class="container">
            <a href="/create" class="btn btn-success mb-3">Add new zip code</a>
            <h2>Filter</h2>
            <form action="/filter">
                <div class="form-group row mb-3">
                    <label for="city" class="col-2">City</label>
                    <div class="col-2">
                        <input type="text" class="form-control" name="city" th:value="${city}">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="city" class="col-1">Longtitude</label>
                    <select class="col-1" name="longOp">
                        <option value="0" th:selected="${longOp == 0}">=</option>
                        <option value="-1" th:selected="${longOp == -1}">&le;</option>
                        <option value="1" th:selected="${longOp == 1}">&ge;</option>
                    </select>
                    <div class="col-2">
                        <input type="number" class="form-control" name="longtitude" th:value="${longtitude}" step="0.00001">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="city" class="col-1">Latitude</label>
                    <select class="col-1" name="laOp">
                        <option value="0" th:selected="${laOp == 0}">=</option>
                        <option value="-1" th:selected="${laOp == -1}">&le;</option>
                        <option value="1" th:selected="${laOp == 1}">&ge;</option>
                    </select>
                    <div class="col-2">
                        <input type="number" class="form-control" name="latitude" th:value="${latitude}" step="0.00001">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="city" class="col-1">Population</label>
                    <select class="col-1" name="popOp">
                        <option value="0" th:selected="${popOp == 0}">=</option>
                        <option value="-1" th:selected="${popOp == -1}">&le;</option>
                        <option value="1" th:selected="${popOp == 1}">&ge;</option>
                    </select>
                    <div class="col-2">
                        <input type="number" class="form-control" name="pop" th:value="${pop}">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="city" class="col-2">State</label>
                    <div class="col-2">
                        <input type="text" class="form-control" name="state" th:value="${state}">
                    </div>
                </div>
                <div class="form-group row">
                    <a href="/" class="btn btn-primary col-1 me-3">Reset</a>
                    <button class="btn btn-success col-1" type="submit">Apply</button>
                </div>
            </form>
            <table id="zips" class="display w-100">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Longtitude</th>
                        <th>Latitude</th>
                        <th>Population</th>
                        <th>State</th>
                        <th data-dt-order="disable">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="zip : ${zips}">
                        <td th:text="${zip.city}"></td>
                        <td th:text="${zip.loc[0]}"></td>
                        <td th:text="${zip.loc[1]}"></td>
                        <td th:text="${zip.pop}"></td>
                        <td th:text="${zip.state}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="${'/edit?id=' + zip.id}">Edit</a>
                            <button class="btn btn-danger" th:attr="onclick=|deleteZip('${zip.city}', '${zip.id}')|">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="layout :: js"></div>
        <script th:src="@{/js/index.js}"></script>
    </body>
</html>